*.iml
.gradle/
.idea/
.DS_Store
build/
/build
app/build/
app/release/
local.properties
captures/
.externalNativeBuild/
.cxx/
*.bak
*.log
jq:Zone.Identifier
model/
!app/src/main/assets/model/
payload-dumper-go
*.jks
keystore.properties

# SSH Keys
*.pub
*.pem
*.key
id_*
.ssh/

# Environment
.env
.env.*

# Credentials
credentials
*.cred
*.secret
